<li class="burger-container">
	<h3 class="burger-name">
		{{burger_name}}

	{{#unless devoured}}
		<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
			EAT ME!
		</button>
	{{/unless}}
	</h3>

</li>